@page "/"
<style>
    p {
        text-align: center;
        font-size: 20px;
    }
    h1 {
        text-align: center;
    }
</style>

<h1>Cumulative Voting App</h1>
<p><strong>Welcome to Secret Cumulative Voting!</strong></p>
<br>
<p>This tool is helpful for overcoming the difficulties caused by mainstream cumulative voting, and offers a comfortable user experience where the points are distributed in secrecy and miscalculations are avoided.</p>
<p>The application is made of three pages, which are displayed consecutively:</p>
<br>
<p><strong>Add Requirements page</strong></p>
<p><strong>Voting page</strong></p>
<p><strong>Results page</strong></p>
<br>
<p>You are given a total of 100 points- which you must partition among the requirements.</p>
<p>When all stakeholders finish voting result will be displayed.</p>
<p>For moving on to the next step, go to "Create New" page from the left menu.</p>